<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<!-- needed for security tag lib expression support -->
	<beans:bean id="webexpressionHandler"
		class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" />

	<http pattern="/" security="none" />
	<http pattern="/resources/**" security="none" />
	<http>
		<intercept-url pattern="/register-success" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/check-availability/username/*"
			access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/login" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/register" access="IS_AUTHENTICATED_ANONYMOUSLY" />		
		<intercept-url pattern="/error-login" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/a/**" access="ROLE_ADMIN" />
		<intercept-url pattern="/u/**" access="ROLE_ADMIN,ROLE_USER" />
		
		<form-login login-page="/login" authentication-failure-url="/error-login"
			default-target-url="/dashboard" always-use-default-target="true"/>
		<logout invalidate-session="true" logout-success-url="/" delete-cookies="JSESSIONID" />
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="customUserDetailService">
			<password-encoder hash="plaintext" />
		</authentication-provider>
	</authentication-manager>
</beans:beans>
